<div class="jumbotron">
    <!-- Start panel component -->
    <div class="tn-panel">
        <div class="panel">
            <div class="tn-rte">
                <p>{{message}}</p>
            </div>
            <div class="tn-rte">
                <p>You are on {{appname}}</p>
                <a href="http://mytn-testapp-1-tn-mytn-testapp-1.apps.non-production.a7p1.p1.openshiftapps.com/secured">Go to Test App 1 Secured Page</a>
                <br/>
                <a href="https://dev2platform.aem.mytn.gov/secure">Go to AEM Dev2 Test Secured Page</a>
            </div>
        </div>
    </div>
    <!-- Start panel component -->
</div>
